@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import "parcial/vars";
@import "parcial/globales";
@import "parcial/header";
@import "parcial/index";
@import "parcial/catalogo";
@import "parcial/faqs";
@import "parcial/footer";
