/*agregamos las imágenes de FAQs*/
@for $i from 0 to 3{
  .faqs__imagen#{$i}{
    height: 30vh;
    width: 30vh;
    background-image: url(../images/shairaEspejo#{$i}.jpg);
    background-size: cover;
    margin: 1rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1024px) , (min-width:1944px){

  .faqs__container{
        overflow-x: hidden; /* sin esto, la animación rompe el width para dispositivos móbiles*/
  }

  .faqs__container .row{
    justify-content: center;
    text-align: center;
    padding: 5vh;
    border-bottom: 2px solid black;
    border-radius: 50%;
  }
}
