.footer {
	background-color: $color-principal;

	&__image{
		max-height: 100%;
		object-fit: cover;
	}

	&__lista{
		list-style: none;
		padding-inline-start: 0;
	}
}

@media screen and (max-width: 425px){
	.footer__image {
		width: 40vh;
	}
}

@media screen and (min-width: 1025px){
	.footer__image{
		width: 20vh;
	}
}
