#inicio__container__cartas{
  background-image: url("../images/shairaBosque.jpg");
  .inicio__carta{
    background-color: rgba(0,0,0,0);
    
    &__imagen{
      height:262px;
    }

    &__link{
      padding: 1rem;
      background-color: $color-principal;
    }
  }
}
